.login {
    position: absolute;
    z-index: 4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
    background-color: var(--popup-overlay);
}

.login__inner {
    top: 18%;
    width: 400px;
    margin: 0 auto;
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    position: relative;
    background-color: var(--white);
    border-radius: 20px;
    
}

.login__form::-webkit-scrollbar {
    display: none;
}

.login__form {
    overflow-y: auto;
    margin-top: 20px;
    scrollbar-width: none;
}

.login__button {
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 142px;
    min-height: 40px;
    border: none;
    padding: 0;
  
    font-weight: 600;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: #ffffff;
    background-color: var(--main-blue);
    border-radius: 4px;
    cursor: pointer;
}
  
.login__button:hover {
    background-color: var(--light-blue);
  
    cursor: pointer;
}
  
.login__button:active {
    outline: none;
    background-color: var(--dark-blue);
}
  
.login__button:focus {
    outline: none;
    background-color: var(--dark-blue);
}
  
.login__button:disabled {
    background-color: var(--disabled-blue);
    cursor: default;
}